body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.offcanvas-size-xl {
  --bs-offcanvas-width: min(95vw, 600px) !important;
}

.offcanvas-size-xxl {
  --bs-offcanvas-width: min(95vw, 50vw) !important;
}


.searchBlogIcon {
  background-image: url('https://i.ytimg.com/vi/_NltVXqwGQw/maxresdefault.jpg');
  background-size: 66px;
  background-repeat: no-repeat;
  background-position: 245px;
}

.mt-6 {
  margin-top: 3.5rem !important
}

.mt-7 {
  margin-top: 4rem !important
}

.mt-8 {
  margin-top: 5rem !important
}

.mt-9 {
  margin-top: 6rem !important
}

.mt-10 {
  margin-top: 7rem !important
}

.fs-6 {
  font-size: 1rem !important
}

.fs-7 {
  font-size: 90% !important
}

.fs-8 {
  font-size: 80% !important
}

.fs-9 {
  font-size: .75rem !important
}

.top-10 {
  top: 10% !important
}

.py-6 {
  padding-top: 3.5rem !important;
  padding-bottom: 3.5rem !important;
}

.py-7 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

.py-8 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

.py-9 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}

.py-10 {
  padding-top: 7rem !important;
  padding-bottom: 7rem !important;
}

.g-9,
.gx-9 {
  --bs-gutter-x: 6rem;
}

.g-9,
.gy-9 {
  --bs-gutter-y: 6rem;
}

.fw-bolder {
  font-weight: 500 !important
}

.tracking-wider {
  letter-spacing: 0.25em !important;
}

.vh-lg-100 {
  height: 100vh !important;
}

.pt-lg-10 {
  padding-top: 7rem !important;
}

.pe-lg-5 {
  padding-right: 3rem !important;
}

.f-w-7 {
  width: 1.75rem !important;
}

.pt-lg-10 {
  padding-top: 7rem !important;
}

.my-lg-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.mb-md-2 {
  margin-bottom: 0.5rem !important;
}


.fs-9 {
  font-size: 0.75rem !important;
}

.f-w-36 {
  width: 9rem !important;
}

.d-lg-block {
  display: block !important;
}


:root {
  --bs-font-sans-serif: "Roboto", sans-serif;
  --bs-spacer: 1rem;
  --bs-gutter-width: 2.5rem;
  --theme-font-headings: "Oswald", sans-serif;
  --theme-font-icon: "remixicon";
  --theme-font-icon-style: "normal";
  --theme-breakpoint-xs: 0;
  --theme-breakpoint-sm: 576px;
  --theme-breakpoint-md: 768px;
  --theme-breakpoint-lg: 992px;
  --theme-breakpoint-xl: 1200px;
  --theme-breakpoint-xxl: 1400px;
  --theme-maxwidth-breakpoint-sm: 100%;
  --theme-maxwidth-breakpoint-md: 100%;
  --theme-maxwidth-breakpoint-lg: 100%;
  --theme-maxwidth-breakpoint-xl: 1140px;
  --theme-maxwidth-breakpoint-xxl: 1320px;
  --theme-form-checkbox-before-size: 20px;
  --theme-form-checkbox-bg-before-size: 28px;
  --theme-form-checkbox-after-width: 6px;
  --theme-form-checkbox-after-height: 12px;
  --theme-form-checkbox-border-radius: 2px;
  --theme-form-checkbox-after-position-left: 7px;
  --theme-form-checkbox-after-position-top: 4px;
  --theme-form-checkbox-bg-after-position-left: 11px;
  --theme-form-checkbox-bg-after-position-top: 7px;
  --theme-form-checkbox-after-border-width: 2px;
  --theme-form-checkbox-active-color: #111827;
  --theme-form-radio-button-after-size: 10px;
  --theme-form-radio-button-after-position-left: 5px;
  --theme-form-radio-button-after-position-top: 6px;
  --theme-form-radio-button-border-radius: 100%;
  --theme-btn-psuedo-width: 50px;
  --theme-btn-psuedo-height: 2px;
  --theme-cart-dropdown-width: 28rem;
}